.App {
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hirizantal-center {
  margin: auto;
  width: 20%;
}

.loading-container {
  margin: auto;
  width: 60%;
  height: 250px;
  position: relative;
}

.loading-container h2 {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
